# Python cache and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
*.env

# OS / Editor files
.DS_Store
*.swp
*.swo

# PyTorch and ML models (ignore all except main one)
*.pth
*.pt
!bkt.pth  # keep this model file tracked

# Jupyter
.ipynb_checkpoints/

# Logs / Temp / Backup files
*.log
*.tmp
*.bak
