{% extends "base.html" %}
{% block title %}Home | Bhutan Textile{% endblock %}

{% block content %}
<div class="center-wrapper">
    <div class="card">
      <h2 class="main-heading">Welcome to Bhutan’s Textile Heritage</h2>
  
      <p>🌸 <strong>Explore Bhutan’s Living Looms</strong></p>
  
      <p>
        Discover, Identify, and Celebrate Handwoven Textiles — experience the beauty and heritage of Bhutan’s handwoven art.
      </p>
  
      <p>
        With the power of computer vision, you can upload a photo or use your camera to instantly recognize textile patterns, identify their origins, and uncover the stories woven into every thread.
      </p>
  
      <p>
        From ceremonial <em>kiras</em> to everyday <em>yathra</em>, each design carries a tale of place, purpose, and craftsmanship passed down through generations.
      </p>
  
      <p>
        Learn about their cultural meanings, explore a gallery of regional weaves, or start your own discovery today.
      </p>
    </div>
  </div>
  
{% endblock %}
